<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= locale.meta.description %>">
    <meta name="keywords" content="<%= locale.meta.keywords %>">
    <meta name="robots" content="index, follow">
    <title><%= locale.meta.title %></title>
    <link rel="stylesheet" href="/normalize.css?<%= buildTime %>" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
    <link rel="stylesheet" href="/index.css?<%= buildTime %>" />
    <link rel="icon" href="/assets/favicon.svg?<%= buildTime %>" type="image/svg+xml">
    <script src="/js/app.js?<%= buildTime %>" type="text/javascript" ></script>
    <meta property="og:image" content="/og-image.png?<%= buildTime %>"/>
    <meta property="og:image:width" content="730"/>
    <meta property="og:image:height" content="544" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(98803698, "init", {
            clickmap:false,
            trackLinks:false,
            accurateTrackBounce:false
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/98803698" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<header class="content header">
    <a href="/" class="header__logo-link" aria-label="Leaderboard Chess Home">
        <img class="header__logo" loading="lazy" src="/assets/leaderboard.svg?<%= buildTime %>" alt="Leaderboard Chess Logo" />
    </a>
    <h1 class="header__title"><%= locale.header.title %></h1>
    <p class="subtitle"><%= locale.header.subtitle %></p>
</header>

<main class="content">
    <section class="blocks" aria-label="Leaderboard Sections">
        <article class="block" aria-labelledby="blitz-title">
            <header class="block__title">
                <img src="/assets/blitz.svg?<%= buildTime %>" alt="Blitz Icon" class="block__title__icon" />
                <h2 id="blitz-title" class="block__title__text"><%= locale.blocks.blitz.title %></h2>
            </header>
            <div class="items">
                <% data.live_blitz.slice(0, 10).forEach(item => { %>
                    <%- include('items/row', { item: item, buildTime }); %>
                <% }); %>
            </div>
        </article>

        <article class="block" aria-labelledby="bullet-title" id="screen-for-og-image">
            <header class="block__title">
                <img src="/assets/bullet.svg?<%= buildTime %>" alt="Bullet Icon" class="block__title__icon" />
                <h2 id="bullet-title" class="block__title__text"><%= locale.blocks.bullet.title %></h2>
            </header>
            <div class="items">
                <% data.live_bullet.slice(0, 10).forEach(item => { %>
                    <%- include('items/row', { item: item, buildTime }); %>
                <% }); %>
            </div>
        </article>

        <article class="block" aria-labelledby="rapid-title">
            <header class="block__title">
                <img src="/assets/rapid.svg?<%= buildTime %>" alt="Rapid Icon" class="block__title__icon" />
                <h2 id="rapid-title" class="block__title__text"><%= locale.blocks.rapid.title %></h2>
            </header>
            <div class="items">
                <% data.live_rapid.slice(0, 10).forEach(item => { %>
                    <%- include('items/row', { item: item, buildTime }); %>
                <% }); %>
            </div>
        </article>
    </section>
</main>
<footer class="content footer">
    <div id="js-build-time" data-time="<%= new Date() %>"><%= locale.footer.updateText %> <span id="js-build-time-render"><%= new Date().toLocaleDateString("en-GB", { day: "2-digit", month: "2-digit", year: "numeric" }) %></span></div>
    <a class="github" href="https://github.com/vkruglikov/leaderboard-chess.com">
        <img src="/assets/github-mark.svg?<%= buildTime %>" alt="GitHub Logo" class="footer__icon" />
        Github Open Source
    </a>
    <div>

    </div>
</footer>
</body>
</html>
